<!DOCTYPE html>
<html>
    <head>
        <title>PPWLab - My Profile</title>
    </head>

    <body>
        <h1>Halo! Nama saya {{profile_name}}! Saya adalah mahasiswa Fasilkom Yu-Ai!</h1>
        <hr>
        <h3>NPM saya adalah {{npm}}.</h3>
    </body>
</html>